ARC_TESTNET_RPC_URL="https://rpc.testnet.arc.network"
PRIVATE_KEY="your_wallet_private_key"
USDC_ADDRESS="USDC_ADDRESS_ON_ARC"

GATEWAY_ADDRESS="GATEWAY_WALLET_ADDRESS_ON_ARC"
GAMEITEMS_ADDRESS="your erc1155 game items address"